%table{class: "table table-striped"}
  %thead
    %tr
      %th
      Name
      %th
      Symbol
      %th
      Current Price
      - if @user.id == current_user.id
        %th
        Actions
  %tboady
    - @user_stocks.each do |user_stock|
      %th
        %td
        = user_stock.name
        %td
        = user_stock.ticker
        %td
        = user_stock.last_price
        - if @user.id == current_user.id
          =link_to "Delete this stock", user_stock_path(user_stock), method: :delete, data: {confirm: "are yoy sure?"}, class: "btn btn-ls btn-danger"
